/* Global */

* {
  margin: 0;
  padding: 0;
}

.dark {
  --text-white: #e6e6e6;
  --text-dark: #2d2c2a;
  --text-box-white: #2d2c2a;
  --text-box-dark: #e6e6e6;
  --bg-grey-light: #343746;
  --bg-blue-dark: #121212;

  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  /* cores de texto */
  --text-white: #2d2c2a;
  --text-box-dark: #2d2c2a;
  --text-dark: #ffffff;

  /* cores de fundo */
  --bg-grey-light: #ffedd5;
  --bg-white: #f5f5f5;
  --bg-color-dark: #2a2a2a;

  background-color: var(--bg-grey-light);

  font-family: "Roboto", sans-serif;

  animation: fadeInAnimationT ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimationT {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

ul {
  list-style: none;
}

/* Header */

header {
  padding: 32px 0;
  text-align: center;
}

header,
section {
  max-width: 300px;
  margin: 0 auto;
}

header h1 {
  margin-bottom: 4px;
  font-size: 28px;
  line-height: 33px;
}

header h1 span {
  color: #995000;
}

header p {
  font-size: 14px;
  line-height: 16px;
  color: var(--text-white);
}

.svgMoon {
  color: var(--text-white);
  position: fixed;
  bottom: 3%;
  left: 2%;
}

svg:hover {
  width: 64px;
  height: 64px;
}

/* Section */

section {
  margin-bottom: 24px;
}

section h2 {
  background-color: #f6c482;
  box-shadow: 10px 10px 6px -3px rgba(0, 0, 0, 0.1);
  padding: 8px 16px;
  text-align: center;
  border-radius: 25px;
  border-inline: 1px solid #995000;

  margin-bottom: 24px;
  font-size: 18px;
}

ul li {
  margin-bottom: 16px;
  display: flex;
}

li .details {
  max-width: 240px;
}

.details p {
  color: var(--text-white);
  font-size: 14px;
  line-height: 21px;
}

.details h3 {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 19px;
}

/* fonts */

h1,
h3,
.price {
  font-family: "Roboto Serif", serif;
  text-transform: uppercase;
  color: var(--text-white);
}

h2 {
  font-family: "Roboto Serif", serif;
  text-transform: uppercase;
  color: var(--text-box-white);
}
